/* ------- registration page styles ------- */

.reg-form-container {
    text-align: center;
}

.reg{
    color: rgba(70, 163, 88, 1);
}

.login{
    color: rgba(61, 61, 61, 1);
}

.separator{
    color: rgba(61, 61, 61, 1);
    font-size: 18px;
    font-weight: 100;
    line-height: 16px;
    margin: 0 10px 0 12px;
}

.form-instruction {
    color: rgba(61, 61, 61, 1);
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    margin-top: 36px
}

.reg-form > input {
    margin-top: 16px;
    width: 300px;
    height: 40px;
    border: 1px solid rgba(234, 234, 234, 1);
    border-radius: 5px;
}

.reg-form > input::placeholder {
    padding-left: 14px;
}

.reg-form-line {
    width: 97px;
    border: 1px solid rgba(234, 234, 234, 1);
    display: inline-block;
    vertical-align: middle;
}

.form-instruction-bottom-text {
    margin: 0 6px;
}

button[type="submit"] {
    background-color: #46A358; 
    border: none;
    border-radius: 5px;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    margin-top: 41px;
    padding: 16px 119px;
}

.google-reg-btn, 
.fb-reg-btn {  
    border: 1px solid rgba(234, 234, 234, 1);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 1);
    width: 300px;
    height: 40px;

    color: rgba(114, 114, 114, 1);
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
}


.google-reg-btn img, 
.fb-reg-btn img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 9px;
}


.google-reg-btn {
    margin-top: 27px;
}

.fb-reg-btn {
    margin-top: 15px;
}





/* ------- header styles ------- */


.container {
    margin: 0 auto;
    max-width: 1200px;
}

header {
    margin-top: 26px;
    text-align: center;
    border-bottom: 0.3px solid rgba(70, 163, 88, 0.5);
    height: 53px;
}

header > .logo,
header > nav,
header > .banner-btn {
    display: inline-block;
    vertical-align: middle; 
}

.logo {
    width: 150px;
}


nav {
    width: calc(100% - 260px); 
    text-align: center;
}


ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    display: inline-block; 
    width: 76px;
    height: 53px;
    vertical-align: middle;
}

nav ul li a {
    font-size: 16px;
    font-weight: 400;
    color: rgba(61, 61, 61, 1);
    line-height: 45px; 
    text-decoration: none;
    display: inline-block;
}

nav ul li a.active {
    font-weight: 700;
    border-bottom: 3px solid rgba(70, 163, 88, 1);
    height: 53px;
}

nav ul li a:hover {
    color: rgba(70, 163, 88, 1);
}

a {
    text-decoration: none;
}

.banner-btn {
    border-radius: 6px;
    background: rgba(70, 163, 88, 1);
    border: none;
    color:  rgba(255, 255, 255, 1);
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
}

.banner-btn:hover {
    color: #f0f0f0;
}

.banner-btn--login{
    padding: 8px 17px;
    font-weight: 500;
}

.banner-btn--login img{
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
}

.banner-btn--shop{
    padding: 11px 30px;
    font-weight: 700;
    margin-top: 44px;
    display: inline-block;
}

.banner-container {
    background: linear-gradient(134.78deg, rgba(245, 245, 245, 0.5),rgba(245, 245, 245, 0.5) 100%);
    margin-top: 12px;
}


.intro, .img-box {
    display: inline-block;
    vertical-align: middle;
}

.intro {
    width: 57%;
    margin-left: 40px;
}

.img-box{
    width: 39%;
}

.intro-text > span {
    color: rgba(61, 61, 61, 1);
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
}

.intro-text > h1 {
    color: rgba(61, 61, 61, 1);
    font-size: 70px;
    font-weight: 900;
    line-height: 70px;
    text-transform: uppercase;
    margin: 7px 0 5px 0;
}

.intro-text > h1 > span {
    color: rgba(70, 163, 88, 1)
}

.intro-text > p {
    color: rgba(114, 114, 114, 1);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    width: 557px;
}